:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-one: hsl(217, 54%, 11%);
  --very-dark-blue-two: hsl(216, 50%, 16%);
  --very-dark-blue-three: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --font-family: 'Outfit', sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}